<li><%= link_to( proxied[:text], proxied[:uri].to_s ) %>
	<span><!-- Show real-time screenshot or status using jquery --></span>
	<span class="data_element">Target Resource: <%= proxied[:target].host %></span>
	<%- # Include related data %>
	  <span class="related">
	    <%- if @oclc_records %>
	      <%= render :partial => "shared/oclc", :locals => {:oclcid => proxied[:oclc_id]} %>
	    <%- end %>
	    <%- if @enrichments_records %>
	      <%= render :partial => "shared/enrichments", :locals => {:enrichments => proxied[:enrichments]} %>
	    <%- end %>	    
	  </span>
</li>