<div class="enrichments">
  Enrichments: <%= enrichments.collect do |e|
                     e.collect {|k, v| k + ": " + v}
                  end
                  .join(', ')   
                %>
</div>
