<h2>Proxied Resources</h2>
<h3><%= @proxieds.size %> match <%= @query %></h3>
<ol>
<%= render :partial => "shared/proxied", :collection => @proxieds, :as => :proxied %>
<h3>Debugging</h3>
<%= debug @proxieds %>
</ol>