<h2>Enrichments</h2>
<h3><%= @enrichments.size %> match <%= @query %></h3>
<ol>
<%= render :partial => "shared/enrichments", :collection => @enrichments %>
<h3>Debugging</h3>
<%= debug @enrichments %>
</ol>