<ul class="nav">
    <li>
      <%= link_to('Local Enrichments', :controller => "enrichments", :action => "index", :q => "")  %>
    </li>
    <li>
      <%= link_to('Proxy Entries', :controller => "proxieds", :action => "index", :q => "A")  %>
    </li>
</ul>